body {
  background: url('/img/back.jpg');
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  text-align: center;
  color: #fff;
  background: #000;
  opacity: 0.6;
  margin-bottom: 1em;
  padding: 1em 0;
}

#nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em;
}

#nav-main {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.hidden {
  display: none !important;
}

#nav-main a {
  text-decoration: none;
}

#nav-main a:hover {
  text-decoration: underline;
}

#nav-main a.active {
  font-weight:bold;
}

#nav-profile div:nth-child(2) {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-self: flex-end;
}

header h1, header h2 {
  margin: 0;
}

header a {
  color: #fff;
}

a{
  color: unset;
}

a:visited {
  color: unset;
}

footer {
  font-size: 1em;
  color: #fff;
  background: #000;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: .5em;
}

#search {
  width: 90%;
  margin: auto;
}

#search-bar {
  width: 100%;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#results {
  display: flex;
  gap: 1em;
  margin: 2em auto;
  width: 90%;
  flex-wrap: wrap;
}

.item {
  width: 145px;
  background: rgba(0,0,0,0.6);
  color: #fff;
  border-radius: 5px;
  padding: .5em;
  cursor: pointer;
}

.item-name {
  display: table;
  margin: auto;
  font-size: 1.2em;
}


.item img {
  height: 3em;
  display: block; 
  margin: .5em auto;
}

.small {
  font-size: .5em;
}

.item p {
  margin: .5em 0;
}

#item-offers {
  width: 90%;
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
}

#item-offers th {
  background: rgba(0,0,0,0.6);
  color: #fff;
  padding: .5em;
  text-align: left;
}

#item-offers th:first-child {
  border-top-left-radius: 5px;
}

#item-offers th:last-child {
  border-top-right-radius: 5px;
}

#item-offers td {
  padding: .5em;
}

#item-offers tr {
  background: #fff;
}

#item-offers tr:nth-child(even) {
  background: #eee;
}

.login-form {
    display: flex;
    gap: 0.5rem;
}

.signup-link {
    color: #ddd;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

#btn-add {
  font-size: 1.5em;
  float: right;
}

#dialog-add input[name="item-name"] {
  width: 100%;
}

#dialog-add #add-item-search-results {
  width: 100%;
}

#dialog-add .add-item-search-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em;
  border: 1px solid #ddd;
  cursor: pointer;
}


#dialog-add .add-item-search-item:hover {
  background: #eee;
}

#dialog-item-add, #dialog-update form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}

#add-item-preview {
  width: 100%;
  text-align: center;
}


#add-item-preview img {
  height: 3em;
}
